
.game-navigator__controls {
    display: block;
}

.game-navigator__controls button {
    font-size: 1.6rem;
    padding: 0.5rem;
    border: none;
}

.game-navigator__controls__arrows {
    display: flex;
    justify-content: space-evenly;
}

