.game-meta-data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.player-info {
    display: flex;
    flex-direction: column;
}

.player-info textarea,
.player-info input {
    resize: none;
    padding: 0.5rem;
    margin-top: 1rem;
    border-width: 3px;
    border-style: solid;
    text-align: center;
    font-size: 1rem;
    width: auto;
}

.player-info .white-player {
    color: black;
    background-color: white;
    border-color: black;
}

.player-info .black-player {
    color: white;
    background-color: black;
    border-color: white;
}

.text-info input,
.text-info textarea {
    margin-bottom: 0.5rem;
}

.game-meta-data .actions {
    display: flex;
    justify-content: space-evenly;
}
